@model KatmanlıModel.Model.FilmYorumlar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FilmYorumlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListeNo" class="control-label"></label>
                <input asp-for="ListeNo" class="form-control" />
                <span asp-validation-for="ListeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yorumlar" class="control-label"></label>
                <input asp-for="Yorumlar" class="form-control" />
                <span asp-validation-for="Yorumlar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmPuan" class="control-label"></label>
                <input asp-for="FilmPuan" class="form-control" />
                <span asp-validation-for="FilmPuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <input asp-for="FilmId" class="form-control" />
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullanıcıId" class="control-label"></label>
                <input asp-for="KullanıcıId" class="form-control" />
                <span asp-validation-for="KullanıcıId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
